@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* Color Variables */

:root{
    /* Primaty Color */
    --primary: hsl(322, 100%, 66%);

    /* Neutral Colors */
    
    --pale-blue: hsl(207, 100%, 98%);
    --dark-cyan: hsl(192, 100%, 9%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
    color: var(--dark-cyan);
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
}


.btn {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    background: var(--primary);
    color: #fff;
    padding: 0.7rem 5rem;
    border-radius: 3rem;
}

/* CSS for mobile */

.container {
    width: 90%;
    margin: auto;
}

/* Header and Nav */

header {
    padding: 1.5rem 0 2rem ;
}

#nav-bar {
    display: flex;
    min-width: 100px;
    align-self: center;
}

.header-logo {
    flex: 1;
    text-align: left;
}

.header-logo img {
    width: 110px;
}

.nav-btn {
    font-size: 0.6rem;
    padding: 0.35rem 1rem;
    background: none;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.nav-btn:hover {
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}

/* Showcase */

#showcase {
    padding: 4rem 1.2rem 2rem;
    text-align: center;
}

#showcase-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#showcase-text {
    font-size: 0.9rem;
    margin: 1.5rem 0 2.5rem;
    color: var(--dark-cyan);
}


#showcase .btn {
    margin-bottom: 6rem;
    padding: 0.7rem 2.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.025), -5px -5px 5px rgba(0, 0, 0, 0.025);
    margin-bottom: 6rem;
}

/* Counter */

.counter {
    padding: 4rem 0 0;
    margin: auto;
    width: 40%;
}

.count-box {
   display: flex;
   flex-direction: column;
   padding: 3rem 0;
}

.count-img {
    width: 1.6rem;
}

.count-number {
    font-family: 'Open Sans', sans-serif ;
    font-size: 3.6rem;   
    margin-bottom: 0.5rem;
    text-align: center;
}

.counter p {
    font-size: 0.9rem;
    color: var(--dark-cyan);
    opacity: 0.5;
    text-align: center;
}

/* Features */

.features {
    padding: 4rem 0 0;
}

.feature-box  {
    text-align: center;
}

.feat-1 {
    padding: 6rem 0.8rem 5rem;
}

.feat-2 {
    padding: 8rem 0.8rem;
}

.feat-3 {
    padding: 2rem 0.8rem 8rem;
}


.feature-box:nth-child(odd) {
    background: var(--pale-blue);
}

.feature-image {
    width: 80%;
    margin: auto;
}

.feature-title {
    font-size: 1.25rem;
    color: var(--dark-cyan);
    margin: 3rem 0 1rem;
}

.feature-text {
    font-size: 0.85rem;
    line-height: 1.6;
    color: var(--dark-cyan);
}

/* Community */

.community .container {
    text-align: center;
    padding: 5rem 0 10rem;
}

.community h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-c {
    font-size: 0.65rem;
    padding: 0.7rem 2.5rem
}

/* Footer */

footer {
    background: var(--dark-cyan);
    color: #fff;
    padding: 0 0.5rem 1rem;
}

.col-1 {
    padding: 5rem 0 2rem;
}

.col-2 {
    padding: 2rem 0 5rem;
}

footer h3 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
}

.footer-text {
    font-size: 0.95rem;
    margin: 1rem 0;
}

.text-input {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: #ccc9c9;
    height: 3rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0 1rem;
}

.form-btn {
    font-size: 0.95rem;
    letter-spacing: 1px;
    padding: 0.6rem 2.5rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    float: right;
}

.footer-logo {
    fill: #fff;  
    height: 39px;
    width: 240px;
}


.contact-info {
    display: flex;
    height: auto;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.contact-t {
    margin-top: 2.5rem;
}

.footer-icon {
    flex: 0 1 5vw;
    margin-right: 2rem;
}

.ft-ic-text {
    flex: 1 1 94vw;
}


.social-list {
    padding: 1rem 0;
    margin: auto;
    display: flex;
    justify-content: left;
}

.social-item {
    margin-right: 1rem;
}

.svg-mobile {
    display: block;
}

.svg-desktop {
    display: none;
}

/* Tablet */
@media(min-width: 760px) {

    .counter {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 80%;
    }

    .count-box {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }
}

/* Desktop(Larger screen) CSS */

@media(min-width:801px) {
    .container {
        width: 85%;
        margin: auto;
    }

    .svg-mobile {
        display: none;
    }
    
    .svg-desktop {
        display: block;
    }
    
    /* Header and Nav */
    
    header {
        padding: 4rem 0 2rem ;
    }
    
    .header-logo img {
        width: 200px;
    }

    .header-logo img:hover {
        cursor: pointer;
        transform: scale(0.9);
        transition: ease-in-out 0.2s;
    }
    
    .nav-btn {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }

    .nav-btn:hover {
        background: var(--primary);
        color: #fff;
        border: solid 2px white;
        transition: ease-in-out 0.4s;
    }

    /* Showcase */

    #showcase {
        padding: 10rem 1.2rem 2rem;
    }

    #showcase-title {
        font-size: 3.1rem;
    }

    #showcase-text {
        font-size: 1.2rem;
        width: 47%;
        margin: 1.5rem auto 3rem;
    }


    #showcase .btn {
        font-size: 1.125rem;
        letter-spacing: 1px;
        padding: 1.5rem 5rem;
        margin-bottom: 6rem;
    }

    #showcase .btn:hover {
        background: var(--dark-cyan);
        transform: scale(0.95);
        transition: ease-in-out 0.2s;
    }

    #showcase img {
        width: 85%;
    }
    
    /* Counter */

    .counter {
        display: flex;
        width : 85%;
    }

    .count-box {
        flex: 1;
    }

    .count-img {
        text-align: center;
        width: 3rem;
    }

    .count-number {
        font-family: 'Open Sans', sans-serif ;
        font-size: 6rem;   
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .counter p {
        font-size: 1.3rem;
        color: var(--dark-cyan);
        opacity: 0.5;
        text-align: center;
    }

    /* Features */

    .features {
        padding: 6rem 0 0;
    }

    .feature-box  {
        text-align: left;
    }

    .feat-1, .feat-2, .feat-3 {
        display: flex;
        justify-content: space-between;
    }

    .feat-1, .feat-3 {
        flex-direction: row-reverse;
    }

    .feat-1 .feature-content,
    .feat-3 .feature-content {
        padding-right: 3rem;
    }

    .feat-2 .feature-content {
        padding-left: 3rem;
    }


    .feature-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }


    .feature-image {
        width: 50%;
        flex: 1;
        padding: 2rem;
    }

    .feature-title {
        font-size: 2.5rem;
        margin: 0 0 1rem;
    }

    .feature-text {
        font-size: 1.125rem;
    }

    /* Community */

    .community .container {
        text-align: center;
        padding: 10rem 0;
    }

    .community h2 {
        font-size: 2.5rem;
    }

    .btn-c {
        font-size: 1.125rem;
        letter-spacing: 1px;
        padding: 1.5rem 5rem;
    }

    .btn-c:hover {
        background: var(--dark-cyan);
        transform: scale(0.95);
        transition: ease-in-out 0.2s;
    }

    /* Footer */

    footer {
        padding: 5rem 0;
    }

    footer .container {
        display: flex;
        flex-direction: row-reverse;
    }

    .col-1 {
        padding: 0;
        margin-right: 25rem;
        flex: 1;
    }

    .col-2 {
        padding: 0;
        flex: 1;
    }

    footer h3 {
        font-size: 1.5rem;
    }

    .footer-text {
        font-size: 0.95rem;
        margin: 1rem 0;
    }

    .text-input {
        height: 3rem;
        width: 60%;
        margin: 0;
    }

    .form-btn {
        display: inline;
        width: 37%;
    }


    .social-list {
        padding: 2rem 0;
        
    }

    .social-item {
        margin-right: 2rem;
    }

}